<div class="container px-5 px-sm-0">
    <div class="row">
        <div class="col-md-3">
            <h2>User info</h2>
            <%= image_tag @user.get_profile_image %>
            <table class="table">
                <tbody>
                    <tr></tr>
                    <tr>
                        <th>name</th>
                    </tr>
                    <tr>
                        <th>introduction</th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <%= link_to edit_user_path(current_user.id), class: "btn btn-outline-secondary btn-block" do %>
                <i class="fas fa-user-cog"></i>
                <% end %>
            </div>
            <h1>New book</h1>
            <!--form_with部分-->
            <%=form_with model: @book do |f| %>
            <h4>Title</h4>
            <%=f.text_field:title %>
            
            <h4>Body</h4>
            <%=f.text_area:body %>
            
            <%=f.submit'Create Book'%>
            <% end %>
        </div>
            <div class="col-md-8 offset-md-1">
              <h2>Users</h2>
              <table class="table">
                <thead>
                    <tr>
                        <th>image</th>
                        <th>name</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>
            </table>
           </div> 
        </div>
    </div>
</div>