<%= form_with model:book, local:true do |f| %>
  <div class="field row">
      <p><%= f.label :title %></p>
      <p><%= f.text_field :title,class:'col-xs-12 book_title' %></p>
  </div>
  
  <div class="field row">
      <p><%= f.label :opinion %></p>
      <p><%= f.text_area :body,class:'col-xs-12 book_body' %></p>
  </div>
  
  <div class="action row">
      <%= f.submit class:'btn btn-primary col-xs-12' %>
  </div>
  <% end %>