<div class="body">
    <div class="container">
        
        <p id= "notice">
            <%= notice %>
        </p>
        <div class="row">
            <div class="col-md-3">
                <h2>User info</h2>
                <%= render 'users/profile', user:@user %>
            <div class="row">
                <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
                <i class="fas fa-user-cog"></i>
                <% end %>
            </div>
                <h2>New book</h2>
                <%=render 'books/form',book:@book_new %>
            </div>
            <div class="col-md-8 offset-md-1">
                <h2>Book detail</h2>
                <table class="table">
                        <tr>
                            <td>
                              <%= link_to user_path(@user) do %>
                              <%= image_tag @user.get_profile_image(100,100) %><br>
                              <%= @user.name %>
                              <% end %>
                            </td>
                              <td><%= link_to @book.title, book_path(@book.id) %></td>
                              <td><%= @book.body %></td>
                            
                            <% if user_signed_in? && current_user.id ==@book.user_id %>
                            <td><%= link_to "Edit",edit_book_path(@book.id), class:"btn-sm btn-success edit_book_#{@book.id}" %></td>
                            <td><%= link_to "Destroy",book_path(@book), method: :delete,date: {confilm:"本当に削除してもよろしいですか？"},class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
                            <% end %>
                        </tr>

                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>