<!DOCTYPE html>

<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header>
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <div class="container">
         <%= link_to "Bookers",root_path,class: 'navbar-brand'%>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
      <li class="nav-item">
        <i class="fas fa-sign-in-alt"></i> 
        <%= link_to "Home", root_path,class: 'nav-link text-light' %>
      </li>
      <li class="nav-item">
        <%= link_to "Users", user_registration_path, class: 'nav-link text-light' %>
      </li>
      <li "nav-item">
        <%= link_to "Books", new_book_path, class: 'nav-link text-light' %>
      </li>
      <li "nav-item">
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link text-light'  %>
      </li>
    <% else %>
      <li "nav-item">
        <%= link_to  root_path do %>
        <div class= 'nav-link text-light'><i class="fas fa-sign-in-alt"></i>Home</div>
        <% end %>
       </li>
      <li "nav-item">
        <%= link_to about_path do %>
        <div class= 'nav-link text-light'><i class="fas fa-link"></i>About</div>
        <% end %>
      </li>
      <li "nav-item">
        <%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-light' %>
      </li>
      <li "nav-item">
        <%= link_to "Log in", new_user_session_path, class: 'nav-link text-light' %>
      </li>
    <% end %>  
        </ul>
      </div>
       </div>  
       </nav>
     </header>
     <main>
       <p id="notice"></p>
       <div class="container">
         <div class="row">
           <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
           <h1>
             "welcome to"<i class="fas fa-book"></i>
             <strong>Bookers</strong>
             "!!"
           </h1>  
           <p>
             "In" <i class="fas fa-book"></i>
             <strong>Bookers</strong>
             ","
           </p>
           <p>you can share and exchange  your opinions , inpressions , and emotions</p>
           <p> about various books!</p>
           <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <% link_to = users_session_path do %>
          <div class="btn btn-info btn-sm btn-block mb-3 sign_in">Log in</div>
            
        </div>
      </div>
           </div>
         </div>
       </div>
    <%= yield %>
    </main>
  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>  
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
